body{
    background: url(../img/img_BG.png) no-repeat fixed center;
    background-color: #1e1e1e;
}


body.main-body{
    background-image: none !important; /* 백그라운드 이미지 제거거*/
    background-color: rgb(48, 33, 117);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이를 기준으로 중앙 배치 */
    margin: 0;

}

#main{
    background-color: rgb(48, 33, 117);
    width: 90%;
    text-align: center;
    border-radius: 20px;   
}

.story-text-box {
    /* border: 2px solid #4CAF50;  테두리 두께, 스타일 */
    background-color: #fff; /* 백그라운드 */
    padding: 5%; /* 내용과 테두리 사이 여백 */
    margin: 5% 5%; /* 가로,요소 밖 여백 */
    border-radius: 10px; /* 테두리 둥글게 */
    font-size: 18px; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
  }



*{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
}

p{
    font-size: 20px;
    color: white;
}

b{
    color: yellow;
}

.red-word {
    color: red;
    font-weight: 400;
}

.yello-word {
    color: yellow;
    font-weight: 400;
}  

h1{
    color:#f7f7f7;
}

h3{
    color: yellowgreen;
    padding: 3%; /* 내용과 테두리 사이 여백 */
}

h4{
    color: rgb(0, 0, 0);
    padding: 3%; /* 내용과 테두리 사이 여백 */
}

.center-line {
    display: block;
    text-align: center;
}


/* 오디오컨트롤러 */
.audio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* width: 80vw;
    max-width: 400px;
    min-width: 200px; */
}
audio {
    width: 80vw;
    max-width: 400px;
    min-width: 300px;
}


/* 기본버튼 */
.button{
    padding: 10px 20px;
    margin: 20px 5px;
    font-size: 18px;
    font-weight: 500;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* 테두리 둥글게 */
}
.button:hover {
    background-color: #45a049;
}



/* 기본팝업업 */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff; /* 흰색 배경 */
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    color: #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}




/* 반투명 레이어 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: -1; 팝업보다 낮은 z-index 설정 */
    }


/* 3, 10 ,13, 16, 19 */
.gIbutton {
    padding: 10px 20px;
    margin: 20px 5px;
    font-size: 18px;
    font-weight: 500;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.gIbutton:hover {
    background-color: rgb(190, 0, 0);
}


.gIpopup {
    width: 300px;
    height: 450px;
    background-color: white; /* 팝업 배경 색상 */
    color: #000000; /* 검은색 폰트 */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column; /* 세로 배열 */
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-720deg) scale(0); /* 초기 상태 (회전 + 축소) */
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out; /* 부드러운 전환 */
    opacity: 0; /* 초기 상태: 투명 */
}

/* 팝업 활성화 상태 */
.gIpopup.active {
    transform: translate(-50%, -50%) rotate(0deg) scale(1); /* 회전 중단 및 크기 복원 */
    opacity: 1; /* 불투명 */
}

/* 팝업후 획득이미지 간격 */
#itemContainer {
    margin-bottom: 30px; /* 원하는 간격으로 조정 */
}



[id^="page"] {
    /* display: none; */
    /* background-color: rgb(48, 33, 117); */
    width: 90%;
    text-align: center;
    border-radius: 20px;
}



[id^="MissionPopup"] {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: (255, 255, 255, 0.8);
    /* padding: 20%; */
    border: 1px solid #d4050500;
    border-radius: 5px;
    text-align: center;
    color:#ce1d1d;
    width: 100%;
}

[id^="MissionPopup"] p {
    color: #000000;
}
/* [id^="MissionPopup"] button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #006eff;
    border: none;
    cursor: pointer;
} */

.input-section {
    margin-top: 20px;
}
.input-box {
    padding: 10px;
    font-size: 18px;
    color: #000000;
    width: 40vw;
    max-width: 400px;
    min-width: 200px;
    /* width: 300px; */
}


.toggle-btn {
    display: block;
    margin: 10px 0; /* 위아래 간격 */
    padding: 10px;
    width: 100%;
    justify-content: center; 
    border-radius: 20px;
    font-size: 16px;
    color:#000000;
}

button.active {
    background-color: yellow;
}
  


.container {
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .arrow-display {
    width: 90%;
    height: 100px;
    margin: 20px auto;
    border: 1px solid #ccc;
    font-size: 35px; /* 화살표 크기 */
    line-height: 100px;
    background-color: white;
    text-align: center;
    color: #000000;
  }
  
  .buttons {
    margin-bottom: 20px;
  }
  
  .arrow-btn {
    padding: 15px 20px;
    margin: 1px 5px;
    font-size: 20px; /* 버튼 크기 */
    cursor: pointer;
    background-color: #3a5557;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .arrow-btn:hover {
    background-color: #d3d3d3;
  }


  

